.App {
  text-align: center;
}

a {
  padding-left: 20px;
}

a:hover {
  color: rgb(168, 0, 247);
}

body {
  text-align: center;
}

nav {
  background-color: rgb(240, 178, 238);
  padding: 20px;
  margin-bottom: 150px;
}

.list {
  text-align: initial;
}